# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Android related
**/android/local.properties
**/android/**/generated
**/android/app/debug
**/android/app/profile
**/android/app/release
*.jks
*.keystore

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData
**/ios/Pods
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/.generated

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Environment files
.env*
secret.json
